
  .CounterContainer{
    background-color: #040f0f;
    color:  #c2fcf7;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 70px;
    position: relative;
    transform: translateX(100%);
    width: 0%;
}

.CounterContainer.visible{
  transition: 1.5s;
  transform: translateX(0%);
  width: 100%;
}

.CounterItemTittle{
  padding-top: 30px;
    font-family:pb;
    font-size: 50px;
    border-bottom: 2px #c2fcf7 solid;
    margin-bottom: 0;
    opacity: 0;
    
    
}

#SalesCounter{
  font-family: pm;
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  opacity: 0;
}
#SatisfiedCounter{
  font-family: pm;
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  opacity: 0;
}
#FinishedCounter{
  font-family: pm;
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  opacity: 0;
}

 #SalesCounter, #SatisfiedCounter, #FinishedCounter, .CounterItemTittle{
  visibility: hidden;
}
#SalesCounter.visible, #SatisfiedCounter.visible, #FinishedCounter.visible, .CounterItemTittle.visible{
  visibility: visible;
}
#SalesCounter.fade, #SatisfiedCounter.fade, #FinishedCounter.fade, .CounterItemTittle.fade{
  transition: 1s;
  opacity: 1;
}




@font-face {
  font-family: pb;
  src: url("../font/pb.ttf");
}
@font-face {
  font-family: pm;
  src: url("../font/pm.ttf");
}
@font-face {
  font-family: pr;
  src: url("../font/pr.ttf");
}




@media (max-width: 1417px) {

  .CounterItemTittle{
    padding-top: 20px;
      font-size: 40px;
      
      
  }
  
  #SalesCounter{
    font-size: 40px;
    margin-bottom: 20px;
  }
  #SatisfiedCounter{
    font-size: 40px;
    margin-bottom: 20px;

  }
  #FinishedCounter{
    font-size: 40px;
    margin-bottom: 20px;

  }
  .CounterContainer{
    margin-top: 40px;
    height: 125px;
  }
}
@media (max-width: 1120px) {

  .CounterItemTittle{
    padding-top: 40px;
      font-size: 35px;
      
      
  }
  
  #SalesCounter{
    font-size: 35px;
    margin-bottom: 0px;
  }
  #SatisfiedCounter{
    font-size: 35px;
    margin-bottom: 0px;

  }
  #FinishedCounter{
    font-size: 35px;
    margin-bottom: 0px;

  }
  .CounterContainer{
    padding-bottom: 0px;
    margin-top: 10px
  }
}
@media (max-width: 950px) {

  .CounterItemTittle{
    padding-top: 0px;
      font-size: 40px;
      text-align: center;
      border-bottom: 0px #c2fcf7 solid;

      text-decoration: underline;

          
      
  }
  
  
  #SalesCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  #SatisfiedCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 15px;

  }
  #FinishedCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 15px;

  }
  .CounterContainer{
    height: 450px;
    flex-direction: column;
  }
}

@media (max-width: 572px) {

  .CounterItemTittle{
    padding-top: 10px;
      font-size: 34px;
      
      
  }
  
  #SalesCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #SatisfiedCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 10px;

  }
  #FinishedCounter{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 10px;

  }

  .CounterContainer{
    padding-bottom: 0;
    height: 350px;
  }
}
@media (max-width: 430px) {

  .CounterItemTittle{
    padding-top: 10px;
      font-size: 35px;
      
      
  }
  
  #SalesCounter{
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #SatisfiedCounter{
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 10px;

  }
  #FinishedCounter{
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 10px;

  }

  .CounterContainer{
    padding-bottom: 0;
  }
}
@media (max-width: 410px) {

  .CounterItemTittle{
    padding-top: 10px;
      font-size: 30px;
      
      
  }
  
  #SalesCounter{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #SatisfiedCounter{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;

  }
  #FinishedCounter{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;

  }

  .CounterContainer{
    padding-bottom: 0;
    margin-top: 0px;
  }
}
@media (max-width: 346px) {

  .CounterItemTittle{
    padding-top: 10px;
      font-size: 25px;
      
      
  }
  
  #SalesCounter{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #SatisfiedCounter{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;

  }
  #FinishedCounter{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 10px;

  }

  .CounterContainer{
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 0px;
    height: 200px;

  }
}
@media (max-width: 280px) {

  .CounterItemTittle{
    padding-top: 10px;
      font-size: 22px;
      
      
  }
  
  #SalesCounter{
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #SatisfiedCounter{
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;

  }
  #FinishedCounter{
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;

  }

  .CounterContainer{
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 0px;

  }
}

@media (max-width: 532px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 40px !important;
      width: 280px;
      position: relative;
      left: -60px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 280px;
      position: relative;
      left: -60px;
      font-size: 26px;
      height: 100px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 70px !important;
      margin-bottom: 20px;
    }

  }
@media (max-width: 480px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 40px !important;
      width: 280px;
      position: relative;
      left: -65px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 280px;
      position: relative;
      left: -65px;
      font-size: 26px;
      height: 100px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 65px !important;
      margin-bottom: 20px;
    }

  }
@media (max-width: 444px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 40px !important;
      width: 280px;
      position: relative;
      left: -70px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 280px;
      position: relative;
      left: -70px;
      font-size: 26px;
      height: 100px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 60px !important;
      margin-bottom: 20px;
    }

  }
@media (max-width: 420px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 40px !important;
      width: 280px;
      position: relative;
      left: -80px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 280px;
      position: relative;
      left: -80px;
      font-size: 26px;
      height: 100px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 55px !important;
      margin-bottom: 20px;
    }

  }
@media (max-width: 410px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 30px !important;
      width: 200px;
      position: relative;
      left: -40px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 300px;
      position: relative;
      left: -85px;
      font-size: 20px;
      height: 50px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 55px !important;
      margin-bottom: 20px;
    }

  }


@media (max-width: 376px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 30px !important;
      width: 200px;
      position: relative;
      left: -50px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 300px;
      position: relative;
      left: -95px;
      font-size: 20px;
      height: 50px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 45px !important;
      margin-bottom: 20px;
    }

  }
@media (max-width: 346px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 25px !important;
      width: 170px;
      position: relative;
      left: -45px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 300px;
      position: relative;
      left: -100px;
      font-size: 18px;
      height: 40px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 42px !important;
      margin-bottom: 20px;
    }

  }


@media (max-width: 300px) {
    .ertekeltek{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nev{
      font-size: 25px !important;
      width: 170px;
      position: relative;
      left: -45px;
      margin-bottom: 0;
    }
    .ertekeles_szoveg{
      width: 300px;
      position: relative;
      left: -110px;
      font-size: 18px;
      height: 40px;
      margin-bottom: 0px;

    }
    #ertekelesek{
      font-size: 38px !important;
      margin-bottom: 20px;
    }

  }


.checked{
  margin-bottom: 30px;
}
@media (max-width: 340px) {
  .left{
    font-size: 50px;
  }
  #folap{
    width: 110%;
  }
}
@media (max-width: 466px) {
  .nav-link{
    width: 130px !important;
  }
}


