@font-face {
    font-family: pb;
    src: url(".../font/pb.ttf");
  }
  @font-face {
    font-family: pm;
    src: url("../font/pm.ttf");
  }
  @font-face {
    font-family: pr;
    src: url("../font/pr.ttf");
  }


.FooterItemTitle{
    font-family: pm;
    padding-bottom: 0.25rem 0;
    background:-webkit-linear-gradient(#85bdbf, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.FooterItemLink{
    display: block;
    text-decoration: none;
    font-family: pr;
    padding: 0.25rem 0;
    color: #6b9597;
    cursor: pointer;
    font-size: 20px;
}
.FooterItemLink:link, .FooterItemLink:visited, .FooterItemLink:hover,.FooterItemLink:active{
    color: #6b9597;

}


#CopyRight{
    font-family: pm;
    color: #246464;
    margin-top: 30px;
    margin-bottom: 0;

}
.CopyRightLogo{
    font-size: 19px;
}

.FooterContainer{
    background: #071717;
    padding: 40px 250px 10px 415px;
    width: 100%;
}
body{
    background: #040f0f;
}


@media (max-width: 1400px) {
    .FooterContainer{
        padding: 40px 220px 10px 220px;
    }
}
@media (max-width: 1320px) {

    .FooterContainer{
        padding: 40px 200px 10px 200px;
    }
  }
@media (max-width: 1270px) {

    .FooterContainer{
        padding: 40px 180px 10px 180px;
    }
    .FooterItemLink{
        font-size: 15px;
    }
    .FooterItemTitle{
        font-size: 28px;
    }

  }
@media (max-width: 1185px) {

    .FooterContainer{
        padding: 40px 150px 10px 150px;
    }
    .FooterItemLink{
        font-size: 15px;
    }
    .FooterItemTitle{
        font-size: 28px;
    }


  }


  @media (max-width: 1065px) {

    .FooterContainer{
        padding: 40px 120px 10px 120px;
    }
    .FooterItemLink{
        font-size: 12px;
    }
    .FooterItemTitle{
        font-size: 24px;
    }
  }
@media (max-width: 915px) {
    .FooterContainer{
        padding: 40px 90px 10px 90px;
    }
    .FooterItemLink{
        font-size: 12px;
    }
    .FooterItemTitle{
        font-size: 24px;
    }
  }

  @media (max-width: 800px) {
    .FooterContainer{
        padding: 40px 40px 10px 40px;
    }
    .FooterItemLink{
        font-size: 12px;
    }
    .FooterItemTitle{
        font-size: 24px;
    }
    .CopyRightLogo{
        font-size: 15px;
    }
    #CopyRight{
        font-size: 15px;
    }
  }
  @media (max-width: 720px) {
    .FooterContainer{
        padding: 40px 40px 10px 40px;
    }
    .FooterItemLink{
        font-size: 12px;
    }
    .FooterItemTitle{
        font-size: 20px;
    }
    .CopyRightLogo{
        font-size: 10px;
    }
    #CopyRight{
        font-size: 10px;
    }

  }
  @media (max-width: 504px) {
    .FooterContainer{
        padding: 40px 40px 10px 40px;
    }
    .FooterItemLink{
        font-size: 12px;
    }
    .FooterItemTitle{
        font-size: 14px;
    }
  }
  @media (max-width: 428px) {
    .FooterContainer{
        padding: 40px 40px 10px 40px;
    }
    .FooterItemLink{
        font-size: 10px;
    }
    .FooterItemTitle{
        font-size: 12px;
    }
  }
  @media (max-width: 382px) {
    .FooterContainer{
        padding: 40px 40px 10px 40px;
    }
    .FooterItemLink{
        font-size: 10px;
    }
    .FooterItemTitle{
        font-size: 10px;
    }
  }
  @media (max-width: 359px) {
    .FooterContainer{
        padding: 40px 20px 10px 20px;
    }
    .FooterItemLink{
        font-size: 10px;
    }
    .FooterItemTitle{
        font-size: 10px;
    }
  }

  @media (max-width: 310px) {
    .FooterContainer{
        padding: 40px 10px 10px 10px;
    }
    .FooterItemLink{
        font-size: 8px;
    }
    .FooterItemTitle{
        font-size: 10px;
    }
  }

  @media (max-width: 289px) {
    .FooterContainer{
        padding: 40px 5px 10px 5px;
    }
    .FooterItemLink{
        font-size: 8px;
    }
    .FooterItemTitle{
        font-size: 10px;
    }

    .CopyRightLogo{
        font-size: 8px;
    }
    #CopyRight{
        font-size: 8px;
    }

  }