@font-face {
    font-family: JBold;
    src: url("font/JBold.ttf");
  }
  
  @font-face {
    font-family: JEBold;
    src: url("font/JExtraBold.ttf");
  }
  
  @font-face {
    font-family: JMedium;
    src: url("font/JMedium.ttf");
  }
  
  @font-face {
    font-family: JLight;
    src: url("font/JLight.ttf");
  }

  body {
    background-color: #040f0f;
    overflow-x: hidden;
    color: white;
  }
  


  #kulsodoboz{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #belsodoboz{
    width: 50vw;
    height: fit-content;
    padding: 20px;


  }

  h1{
    font-family: JBold;
  }
  h2{
    font-family: JLight;
  }
