@font-face {
    font-family: JBold;
    src: url("font/JBold.ttf");
}

@font-face {
    font-family: JEBold;
    src: url("font/JExtraBold.ttf");
}

@font-face {
    font-family: JMedium;
    src: url("font/JMedium.ttf");
}

@font-face {
    font-family: JLight;
    src: url("font/JLight.ttf");
}

@font-face {
  font-family: pm;
  src: url(font/pm.ttf);
}

@font-face {
  font-family: pr;
  src: url(font/pr.ttf);
}

@font-face {
  font-family: pb;
  src: url(font/pb.ttf);
}

html{
  width: 100vw;
}

body {
    background-color: #040f0f;
    color: white;
    font-family: pr;
    width: 100vw;
    overflow-x: hidden;
}

.alcim {
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: pb;
    font-size: 70px;
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cim {
  padding-top: 70px;
  padding-bottom: 25px;
  font-family: pb;
  font-size: 90px;
  background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.keszlet_van{
  color: greenyellow;
}

.keszlet_nincs{
  color:rgb(230, 73, 73)
}

.talcadetailkep{
  width: 320px;
  height: 320px;
}

.zuhanytalcak{
  font-family: pm;
}

.zuhanytalcak li{
  margin: 0px
}

#kategorialist {
    border-bottom: 0px;
    font-family: pr;
  }
  
  #kategorialist a {
    margin: 5px;
    border: 0px;
    color: #85bdbf;
    border-radius: 10px;
  }

  #kategorialist h4{
    font-size: 20px;
    padding-top: 5px;
  }
  
  #kategorialist a:hover {
    cursor: pointer;
    background-color: #246464;
  }

.termekkep{
    width: 270px;
    height: 200px;
}

.termekkep1x1{
  width: 240px;
  height: 240px;
}

.termek{
    color: #C2FCF7;
}

.termek,.ar,.leiras{
    font-family: pm;
}

.ar{
    font-size: 25px;
    text-align: left;
    border-bottom: 1px solid #C2FCF7;
}

#szoveg{
  font-size: 25px;
  font-family: pm;
  color: white;
  text-align: justify;
}

.termek{
  text-decoration: none;
  color:#C2FCF7
}

.termek:hover{
  color: #85bdbf;
}

.szak_nev{
  font-family: pm;
}

.gyik_kerdes{
  font-family: pm;
  color: #C2FCF7;
  font-size: 20px;
}

.navbar-nav {
  margin: 0 auto;
  position: sticky;
  padding-top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav a {
  font-size: 30px;
  margin-left: 50px;
  font-family: pm;
}

#navlogo {
  width: 100px;
}

.navbar-nav a:hover {
  color: #85bdbf;
}

.navbar{
  background-image: url("src/nb.png");
}



@media screen and (max-width: 991px) {
    
    .alcim {
        font-size: 35px;
    }

    #cim {
      font-size: 60px;    
  }

    #kategorialist h4{
        font-size: 12px;
    }

    #szoveg{
      font-size: 14px;
      padding:20px;
    }
}


@media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }