@import "./_variables";

@function betutipus($tipusnev){
    @return map-get($fonts, $tipusnev ) 
}

@font-face {
    font-family: JBold;
    src: url("/urlap/font/JBold.ttf");
  }
  
  @font-face {
    font-family: JEBold;
    src: url("/urlap/font/JExtraBold.ttf");
  }
  
  @font-face {
    font-family: JMedium;
    src: url("/urlap/font/JMedium.ttf");
  }
  
  @font-face {
    font-family: JLight;
    src: url("/urlap/font/JLight.ttf");
  }

  @mixin flex-center($direction) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: $direction;
    
  }

  body {
    background-color: $hatter;
    overflow-x: hidden;
    color: white;
  }

  


  #kulsodoboz{
    @include flex-center(column);
    height: 100vh;
  }

  #belsodoboz{
    width: 50vw;
    height: fit-content;
    padding: 20px;


  }

  h1{
    font-family: betutipus(h1);
    color: $h2-betu;
  }
  h2{
    font-family: betutipus(h2);
    color: $h2-betu;
  }
  a{
    font-family: betutipus(h2);
  }
