@font-face {
    font-family: pm;
    src: url(font/pm.ttf);
  }
  
  @font-face {
    font-family: pr;
    src: url(font/pr.ttf);
  }
  
  @font-face {
    font-family: pb;
    src: url(font/pb.ttf);
  }
  
  html{
    width: 100vw;
  }
  
  body {
      background-color: #040f0f;
      color: white;
      font-family: pr;
      width: 100vw;
      overflow-x: hidden;
  }
  
  #kategoriak {
      margin-top: 40px;
      margin-bottom: 25px;
      font-family: pb;
      font-size: 70px;
      background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  #jelenlegitermek{
    color: #C2FCF7;
  }  

  #termek_prev > a{
    color: white;
    text-decoration: none;
  }
  
  #termek_prev > a:hover{
    animation: 0.3s termekprev_hover forwards;
  }
  
  @keyframes termekprev_hover {
    from { color:white; }
    to { color:#C2FCF7 }
    
  }
  
#termeknev{
    font-size: 50px;
    color: #C2FCF7;
}

#leiras{
    font-size: 25px;
}

#kosarba{
    font-size: 40px;
    background-color: aliceblue;
    color: black;
    padding: 5px 10px 5px 10px;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

#kosarba:hover{
    animation: 0.3s kosarba forwards;
}
  
#ar{
    font-size: 42px;
}

#felsorolas{
    line-height: 2em;
    font-size: 1.2em;
}

@keyframes kosarba {
    from {     
        background-color: aliceblue;
        color: black;
    }
    to {
        background-color: #85bdbf;
        color: white;
    }
    
}