/* Tartalom*/
@media screen and (max-width: 576px)
{
    .szoveg
    {
        /* color: #85bdbf; */
        color: white;
        font-family: pr;
        font-size: 18px;
    }
    .form-bevitel
    {
        width: 85%;
        margin: 0 auto;
    }
    .elhelyezkedes
    {
        background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: pb;
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    #ertekelesek::before
    {
        display: block;
        height: 80px; 
        visibility: hidden;
        content: "";
    }
    #ertekelesek
    {
        margin-bottom: 50px;
    }
    #miertmi::before
    {
        display: block;
        height: 80px; 
        visibility: hidden;
        content: "";
    }
    #kapcsolat::before
    {
        display: block;
        height: 80px; 
        visibility: hidden;
        content: "";
    }
    #irj_nekunk::before
    {
        display: block;
        height: 70px; 
        visibility: hidden;
        content: "";
    }
    #irj_nekunk
    {
        margin-bottom: 2rem;
    }
    /**Küldés gomb */
    .kuldes_gomb
    {
        background-color: #246464;
        border: none;
        transition: 0.5s;
        font-family: pm;
        width: 20vw;
        font-size: 18px;
    }
    .kuldes_gomb:hover
    {
        background-color: #85bdbf;
        color: black;
    }
    .kerdojel_gomb
    {
        color: white;
        font-size: 20px;
    }
    .kerdojel_gomb:hover
    {
        cursor: help;
    }

    .gomb
    {
        background-color: none;
    }
    .custom-tooltip
    {
        --bs-tooltip-bg: #246464;
        --bs-tooltip-color: white;
        --bs-tooltip-max-width: 250px;
        --bs-tooltip-opacity: 1;
        --bs-tooltip-arrow-width: 18px;
        --bs-tooltip-arrow-height: 8px;
        --bs-tooltip-font-size: 18px;
        font-weight: 400;
    }
    .nev
    {
        font-size: 25px;
        text-align: center;
        border-bottom: 2px solid #246464;
        border-width: 1%;
    }
    .checked
    {
        color: orange;
    }
    .ertekeles
    {
        padding-bottom: 15px;
    }
    .ertekeles h1
    {
        /* background: -webkit-linear-gradient(#246464, #85bdbf,#85bdbf,#85bdbf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        color: white;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .ertekeles_szoveg
    {
        height: 5vh;
        text-align: center;
        color: white;
        font-size: 20px;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .csillagok
    {
        display: flex;
        justify-content: center;
        font-size: 22px;
    }
    .cim
    {
        background: -webkit-linear-gradient(#246464,#246464, #85bdbf, #c2fcf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-family: pb;
    }
    .left
    {
      margin-top: 200px;
      margin-bottom: 80px;
      font-size: 65px;
      font-family: pb;
      text-align: center;
      background: -webkit-linear-gradient(#246464, #c2fcf7, #85bdbf );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      backdrop-filter: blur(3px);
      border-radius: 10px;
    }
    .right
    {
      text-align: center;
      width: 80vw;
      background: -webkit-linear-gradient( #85bdbf,#85bdbf,#85bdbf);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: pm;
      font-size: 21px;
      border-radius: 10px;
      /*color: #85bdbf;*/
    }
}