* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Fonts */
body {
  /*font-family: "Bai Jamjuree", sans-serif;*/
  font-family: pr; 
  font-weight: bold;
  background-color: #040f0f;
}
@font-face {
  font-family: pm; /**medium */
  src: url(../font/pm.ttf);
}

@font-face {
  font-family: pr; /**regular */
  src: url(../font/pr.ttf);
}

@font-face {
  font-family: pb; /**bold */
  src: url(../font/pb.ttf);
}

#folap {
  background-image: url("../src/hatter03.png"); 
  background-position: center;
  background-size: cover;
  min-height: 100vh; /**100 */
  width: 100%;
  image-rendering: smooth;
}
.flex-container
{
  display: flex;
  flex-direction: row; 
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.left
{
  flex: 50%;
}
.right
{
  flex: 50%;
}

/** .col -> 576px és ez alatt */
@media (max-width: 576px) {
  .flex-container {
    flex-direction: column;
  }
  .down
  {
    margin-top: 50px !important;
    font-size: 50px;
    color:#246464 !important;
    transition: 0.5s;
  }
  .down:hover
  {
    font-size: 65px;
    cursor: pointer;
  }
  #folap
  {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }

}

/*
      XS ->  kisebb vagy 576xp
      SM -> SMALL -> >= 576px
      MD -> MIDDLE -> >= 768px
      LG -> LARGE -> >= 992px
      XL -> EXTRA LARGE -> 1200px
      XXL -> EXTRA EXTRA LARGE -> 1400+ px
*/
/**Navbar ->*/
@media screen and (min-width: 992px)
{
  .navbar a
  {
    text-decoration: none;
  }
  .home
  {
    /**top right bottom left */
    margin: 0px 10px 0px 0px;
    display: none;
  }
  .navbar
  {
    min-height: 12vh;
    background: #040f0f;
    font-size: 27px;
    margin-bottom: 100px;
  }
  .navbar-nav .nav-item .nav-link
  {
    color: rgb(214, 208, 208);
  }
  .navbar-nav .nav-item .nav-link:hover
  {
    color: #85bdbf;
    transition: 0.5s;
  }
  .navbar-nav .nav-item .nav-link:link
  {
    transition: 0.5s;
  }
  .navbar-brand
  {
    font-family: 'Pacifico', cursive;
    color: rgb(214, 208, 208);
    font-size: 30px;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand:hover
  {
    color: #85bdbf;
    transition: 0.5s;
  }
  #ertekelesek
  {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
  }

  /**Jobb oldali iconok */
  .log-in
  {
    margin: 0px 10px 0px 10px;
    color: rgb(214, 208, 208);
    font-size: 30px;
  }
  .log-in:hover
  {
    color: green !important;
  }
  .discord
  {
    color: rgb(214, 208, 208);
    margin: 0px 10px 0px 10px;
    font-size: 30px;
  }
  .discord:hover
  {
    color: grey !important;
  }
  .facebook
  {
    color: rgb(214, 208, 208); 
    margin: 0px 10px 0px 10px;
    font-size: 30px;
  }
  .facebook:hover
  {
    color: blue;
    
  }
  /** */
}
/**Hamburger menu -> nagy méret 992px alatti*/
@media(max-width:992px)
{

}




/**
 * @media screen and (max-width: 992px) {
    #bal_szoveg
    {
      font-size: 60px;
    }
}
@media screen and (max-width: 768px)
{
    #bal_szoveg
    {
      font-size: 45px;
    }
}
@media screen and (max-width:576px)
{
  #bal_szoveg
  {
    flex: 30%;
    margin-top: 50%;
  }
  #jobb_szoveg
  {
    flex: 70%;
    margin-bottom: 50%;
    text-align: justify;
  }
    
}
 */
