/* Navbar különböző méretei */
/* .col -> sm méret*/
@media screen and (max-width: 575px) {
  .navbar {
    background-color: #051010;
  }
  .navbar-toggler {
    border: 2px solid gray;
  }
  .navbar-toggler-icon {
    color: gray;
    background-image: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    transition: 0.5s;
  }
  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 27vw;
    font-size: 18px;
    transition: 0.5s;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 23px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(46, 73, 46);
    font-size: 23px;
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 23px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
    font-size: 23px;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 23px;
  }
  .navbar .navbar-nav .facebook:hover {
    color: blue;
    font-size: 23px;
  }
  .home {
    margin-right: 5px;
  }
  .star {
    margin-right: 5px;
  }
  .check {
    margin-right: 5px;
  }
  .envelope {
    margin-right: 5px;
  }
  .box {
    margin-right: 5px;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
}
/* Middle resolution */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /*Logo */
  #logo {
    width: 50px;
    height: 50px;
  }
  /* Háttér színe */
  .navbar {
    background-color: #051010;
  }
  /* Toggler icon */
  .navbar-toggler {
    border: 2px solid gray;
  }
  .navbar-toggler-icon {
    color: gray;
    background-image: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    transition: 0.5s;
  }
  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 23vw;
    font-size: 18px;
    transition: 0.5s;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 27px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(46, 73, 46);
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 27px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 27px;
  }
  .navbar .navbar-nav .facebook:hover {
    color: blue;
  }
  .home {
    margin-right: 5px;
  }
  .star {
    margin-right: 5px;
  }
  .check {
    margin-right: 5px;
  }
  .envelope {
    margin-right: 5px;
  }
  .box {
    margin-right: 5px;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
}
/* Middle resolution end*/
/**/
/*LARGE RESOLUTION*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #logo {
    width: 50px;
    height: 50px;
  }
  /* Háttér színe */
  .navbar {
    background-color: #051010;
  }
  /* Toggler icon */
  .navbar-toggler {
    border: 2px solid gray;
  }
  .navbar-toggler-icon {
    color: gray;
    background-image: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    transition: 0.5s;
  }
  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 23vw;
    font-size: 22px;
    transition: 0.5s;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 29px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(46, 73, 46);
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 29px;
    margin-right: 30px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 29px;
  }
  .navbar .navbar-nav .facebook:hover {
    color: blue;
  }
  .home {
    margin-right: 5px;
  }
  .star {
    margin-right: 5px;
  }
  .check {
    margin-right: 5px;
  }
  .envelope {
    margin-right: 5px;
  }
  .box {
    margin-right: 5px;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
}
/**/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #logo {
    width: 80px;
    height: 80px;
  }
  /* Háttér színe */
  .navbar {
    background-color: #051010;
  }

  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    transition: 0.5s;
    padding-left: 10px;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 26px;
    margin: 0;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(45, 68, 45);
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 26px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 26px;
    margin: 0;
  }
  .navbar .navbar-nav .facebook:hover {
    color: rgb(30, 30, 92);
  }
  .home {
    display: none;
  }
  .star {
    display: none;
  }
  .check {
    display: none;
  }
  .envelope {
    display: none;
  }
  .box {
    display: none;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px)
{
  #logo {
    width: 80px;
    height: 80px;
  }
  /* Háttér színe */
  .navbar {
    background-color: #051010;
  }

  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 29px;
    transition: 0.5s;
    padding-left: 20px;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 29.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 30px;
    margin: 0;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(45, 68, 45);
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 30px;
    margin: 0;
  }
  .navbar .navbar-nav .facebook:hover {
    color: rgb(30, 30, 92);
  }
  .home {
    display: none;
  }
  .star {
    display: none;
  }
  .check {
    display: none;
  }
  .envelope {
    display: none;
  }
  .box {
    display: none;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
}
/**XXL RESOLUTION */
@media screen and (min-width: 1400px)
{
  #logo {
    width: 80px;
    height: 80px;
  }
  /* Háttér színe */
  .navbar {
    background-color: #051010;
  }

  .navbar-brand {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .navbar-nav .nav-item a {
    background: -webkit-linear-gradient(#246464, #85bdbf, #c2fcf7, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    transition: 0.5s;
    padding-left: 30px;
  }
  .navbar .navbar-nav .nav-item a:hover {
    background: -webkit-linear-gradient(#246464, #246464, #c2fcf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34.5px;
  }
  /* Log-in */
  .navbar .navbar-nav .log-in {
    color: white;
    font-size: 30px;
    margin: 0;
  }
  .navbar .navbar-nav .log-in:hover {
    color: rgb(45, 68, 45);
  }
  /* Discord */
  .navbar .navbar-nav .discord {
    color: white;
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .navbar .navbar-nav .discord:hover {
    color: gray;
  }
  /* Facebook */
  .navbar .navbar-nav .facebook {
    color: white;
    font-size: 30px;
    margin: 0;
  }
  .navbar .navbar-nav .facebook:hover {
    color: rgb(30, 30, 92);
  }
  .home {
    display: none;
  }
  .star {
    display: none;
  }
  .check {
    display: none;
  }
  .envelope {
    display: none;
  }
  .box {
    display: none;
  }
  .icon-elrendezes {
    flex-direction: row;
    justify-content: center;
  }
}
